@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
  --primary-color: #e7ecff;
  --secondary-color: #051937;
  --gray-color: #cccccc;
  --logo-color: #0077ff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: initial;
}

button,
a {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serf;
  background-image: linear-gradient(
    to right top,
    var(--secondary-color),
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  background-repeat: no-repeat;
}

.overflow-hidden {
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: var(--primary-color);
  gap: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 68px;
}

.logo {
  position: relative;
}

.logo::after,
.logo::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  translate: -50% 0;
  width: 90%;
  height: 1px;
  background: var(--primary-color);
}

.logo::before {
  bottom: -4px;
}

.logo h1,
.logo h1 i {
  color: var(--logo-color);
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 1.2rem;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

nav a:hover {
  color: var(--logo-color);
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
  transform: scale(0.7);
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--logo-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

main {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headlines {
  scroll-margin-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  margin-block: 20px 20px;
}

.headline {
  font-size: 2.7rem;
  color: var(--primary-color);
  text-shadow: 1px 1px 20px var(--secondary-color);
}

.subtitle {
  font-size: 1.3rem;
  color: var(--primary-color);
}

.cta-input {
  display: flex;
  gap: 5px;
}

.cta-input input,
.cta-input button {
  padding: 15px;
  border: 1px solid var(--gray-color);
  border-radius: 3px;
}

.cta-input input {
  width: 450px;
  outline: none;
}

.cta-input button {
  width: 120px;
  background-color: var(--secondary-color);
  color: #edf2f4;
  border: none;
}

.hero .image-container {
  margin-top: 20px;
  overflow: hidden;
  height: 380px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero .image-container img {
  height: 100%;
  width: auto;
}

.features {
  scroll-margin-top: 88px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px 60px;
  margin-top: 100px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 14px 34px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 14px 34px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 14px 34px -7px rgba(0, 0, 0, 0.75);
  position: relative;
  background: #08bccf;
  background: -webkit-linear-gradient(0deg, #08bccf 0%, #25a2e8 100%);
  background: linear-gradient(0deg, #08bccf 0%, #25a2e8 100%);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card {
  position: relative;
}

.card::before {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: var(--primary-color);
  z-index: -2;
  transform-origin: bottom;
  border-radius: 10px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card::after {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;
  border-radius: 10px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .feature {
  transform: translate(0px, -16px);
}

.card:hover::after {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover::before {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.feature-icon {
  font-size: 2rem;
}

.feature-icon i {
  color: #06d6a0;
}

.feature-title {
  display: inline;
  align-self: flex-start;
  width: initial;
  font-size: 1rem;
  color: #edf2f4;
  margin-bottom: 5px;
  position: relative;
}

.feature-title::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 80%;
  background-color: #edf2f4;
}

.feature-desc {
  font-size: 1rem;
  color: #edf2f4;
}

.prices-title {
  scroll-margin-top: 88px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 50px;
  color: var(--primary-color);
}

.prices-title h1 {
  color: inherit;
}

.plans {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pack-container {
  position: relative;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #ffffff49;
  border: 1px solid var(--primary-color);
  padding: 1.5rem;
  color: var(--primary-color);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.pack-container:nth-child(2) {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  transform: scale(1.08);
  transform-origin: bottom;
  z-index: 2;
}

.pack-container .header {
  position: relative;
  margin: 0;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 0;
  border-bottom: 1px solid var(--primary-color);
  background: transparent;
  padding-bottom: 1rem;
  text-align: center;
}

.pack-container .title {
  display: block;

  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.pack-container .price-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  font-size: 3.5rem;
  line-height: 1;
}

.pack-container .price-container span:first-child {
  margin-top: 10px;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.pack-container .price-container span:last-child {
  align-self: flex-end;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.pack-container .lists {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.pack-container .list {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pack-container .list span {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: rgba(255, 255, 255, 0.185);
  min-height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pack-container .list span svg {
  max-height: 12px;
  max-width: 12px;
}

.pack-container .list p {
  display: block;
  font-size: 0.9rem;
}

.pack-container .button-container {
  margin-top: 20px;
  padding: 0;
}

.pack-container .button-container button {
  display: block;
  width: 100%;
  background-color: var(--primary-color);
  padding: 10px 20px;
  text-transform: uppercase;
  color: #000;
  outline: 0;
  border: 0;
  border-radius: 10px;
}

.social-proof {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin: 50px 100px;
  padding-block: 70px;
  border-block: 1px solid var(--gray-color);
}

.proof {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.proof .icon {
  color: #edf2f4;
  font-size: 2rem;
}

.proof .title {
  font-size: 1em;
  color: #edf2f4;
  font-weight: normal;
  text-align: center;
}

.proof p {
  color: #edf2f4;
  font-weight: 600;
  text-align: center;
}

.testimonials-title {
  scroll-margin-top: 88px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 80px;
  gap: 30px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 14px 34px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 14px 34px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 14px 34px -7px rgba(0, 0, 0, 0.75);
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  margin-bottom: 70px;
}

.testimonial p {
  color: var(--secondary-color);
}

.testimonial span {
  align-self: flex-end;
  font-weight: 600;
  color: var(--secondary-color);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.cta-message {
  color: var(--primary-color);
}

.footer-message p {
  color: var(--primary-color);
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 15px 20px;
  }

  .logo h1,
  .logo h1 i {
    font-size: 1.5rem;
  }

  nav {
    position: absolute;
    background-color: var(--primary-color);
    flex-direction: column;
    align-items: center;
    top: 100%;
    left: 0;
    width: 100%;
    gap: 0.9rem;
    padding-block: 0.9rem;
    border-top: 1px solid var(--gray-color);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
  }

  nav a {
    font-size: 1.2rem;
    color: var(--logo-color);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  nav a:hover {
    color: var(--logo-color);
  }

  .burger {
    display: block;
  }

  .headlines .headline {
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 1px var(--secondary-color);
    text-shadow: 0px 1px 1px var(--secondary-color);
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .headlines .subtitle {
    font-size: 1rem;
    text-align: center;
  }

  .cta-input {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
  }

  .cta-input input {
    width: 90%;
  }

  .hero .image-container {
    height: initial;
    width: 100%;
  }

  .hero .image-container img {
    width: 100%;
    height: auto;
  }

  .features {
    grid-template-columns: repeat(1, 1fr);
    gap: 80px;
  }

  .feature {
    padding: 60px 20px;
  }

  .feature-icon {
    font-size: 2rem;
  }

  .feature-title {
    margin-bottom: 7px;
  }

  .plans {
    align-items: center;
    flex-direction: column;
  }

  .pack-container {
    margin-top: 0px;
    width: 85%;
    display: grid;
    padding: 1.3rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .pack-container:nth-child(2) {
    transform: scale(1.05);
  }

  .pack-container .header {
    grid-column: 1 / span 1;
    width: 1fr;
    border: none;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    margin-right: 10px;
  }

  .pack-container .title {
    font-size: 0.775rem;
  }

  .pack-container .price-container {
    margin-top: 10px;
    gap: 2px;
    font-size: 1.2rem;
  }

  .pack-container .price-container span:first-child {
    margin-top: 0px;
    font-size: 1rem;
    line-height: initial;
  }

  .pack-container .price-container span:last-child {
    align-self: initial;
    font-size: 1rem;
    line-height: initial;
  }

  .pack-container .lists {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    grid-column: 2 / span 1;
  }

  .pack-container .list {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .pack-container .list span {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgba(255, 255, 255, 0.185);
    min-height: 10px;
    min-width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pack-container .list span svg {
    max-height: 12px;
    max-width: 12px;
  }

  .pack-container .list p {
    display: block;
    font-size: 0.8rem;
  }

  .pack-container .button-container {
    margin-top: 20px;
    padding: 0;
    grid-column: 1 / 5;
  }

  .pack-container .button-container button {
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px 20px;
    text-transform: uppercase;
    color: #000;
    outline: 0;
    border: 0;
    border-radius: 10px;
  }

  .social-proof {
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
  }

  .testimonials {
    flex-direction: column;
    padding-inline: 80px;
    gap: 35px;
  }

  .testimonial {
    margin-bottom: 0px;
  }

  footer {
    margin-top: 40px;
    width: 100%;
  }

  .cta {
    gap: 25px;
    width: 100%;
  }

  .cta-message {
    font-size: 1.3rem;
    text-align: center;
  }

  .footer-message p {
    text-align: center;
    font-size: 0.9rem;
  }
}
